<header class="site-header">

  <div class="wrapper">

    <a class="logo" href="{{ site.baseurl }}/">
      BurgerMenu
    </a>

    <nav class="site-nav">
      <a href="{{ site.baseurl }}/"{% if page.slug == "home" %} class="active"{% endif %}>Home</a>
      <a href="{{ site.baseurl }}/get-started/"{% if page.slug == "get-started" %} class="active"{% endif %}>Get started</a>
      <a href="{{ site.baseurl }}/api/"{% if page.slug == "api" %} class="active"{% endif %}>API</a>
      <a href="{{ site.baseurl }}/examples/"{% if page.slug == "examples" %} class="active"{% endif %}>Examples</a>
    </nav>
  </div>
</header>
