*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
  padding: 50px 12px;
  background: #D1573E;
  color: #FFF;
}


.burgermenu-sticky-head {
  background: rgba(255,255,255,.65);
  padding: 15px;
  border-bottom: 1px rgba(0,0,0,.65);
  box-shadow: 0 0 3px rgba(0,0,0,.85);
}
.opened-left .burgermenu-sticky-head {
  box-shadow: 3px 0 3px rgba(0,0,0,.85);
}
.opened-right .burgermenu-sticky-head {
  box-shadow: -3px 0 3px rgba(0,0,0,.85);
}

.burgermenu-toggle.right {
  float: right;
}

.burgermenu-sticky-head a {
  text-decoration: none;
  color: #454545;
  line-height: 1.25;
}

@media (max-width: 1024px) {
  html {
    background: #87C150;
  }
}

@media (max-width: 767px) {
  html {
    background: #5E89B6;
  }
}
