*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#burgermenu-toggle {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  padding: 12px;
  background: #000;
  color: #AFAFAF;
  text-decoration: none;
  z-index: 11;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

.page-wrapper {
  padding: 50px 12px 0;
}
