.burgermenu-left,
.burgermenu-right {
  background: #CCC;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .dropdown {
    .dropdown-children {
      display: none;
    }
    > a {
    }
    &.opened {
      > a {
      }
    }
  }
  .has-children {
    > a {

    }
  }
  .burgermenu-panel {
    background: #AFAFAF;
    .is-children > li {
      a {
      }
      &.back {
      }
    }
  }
}
