.burgermenu-left,
.burgermenu-right {
  a {
    text-decoration: none;
    padding: 15px 25px 15px 10px;
    color: #666;
  }
  li {
    position: relative;
    border-bottom: 1px solid #CCC;
    &:last-child {
      border-bottom: 0;
    }
  }
  .has-children,
  .dropdown {
    &:after {
      content: '\00bb';
      position: absolute;
      right: 10px;
      top: 12px;
      color: #666;
      font-size: 20px;
    }
  }
  .dropdown {
    &:after {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    .dropdown-children {
      display: none;
      background: #F5F5F5;
      border-top: 1px solid #CCC;
    }
    &.opened:after {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
  .back {
    a {
      padding: 15px 10px 15px 25px;
    }
    &:before {
      content: '\00ab';
      position: absolute;
      left: 10px;
      top: 12px;
      color: #666;
      font-size: 20px;
    }
  }
}

.burgermenu-sticky-head {
  padding: 12px;
  background: #000;
  a {
    text-decoration: none;
    color: #AFAFAF;
  }
}

.opened-left,
.opened-right {
  .page-wrapper {
    box-shadow: 0 -3px 6px rgba(0,0,0,.35);
  }
}
